{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
{#    {% if user_obj == request.user %}#}
{#        <li><a href="{% url 'accounts:user_update' user_obj.pk %}">Edit profile</a></li>#}
{#        <li><a href="{% url 'accounts:user_change_password' user_obj.pk %}">Change password</a></li>#}
{#    {% endif %}#}
{% endblock %}
{% block content %}
    <h1>Профиль: {{ user_obj.username }}</h1>
    <p>Имя: <b>{{ user_obj.first_name }}</b></p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>

    <div class="comment-list">
        <h2>Files</h2>
    {% if is_paginated %}
         {% include 'partial/pagination.html' %}
    {% endif %}
        {% for file in files %}
            {% if file.type == 'general' or file.author == request.user %}
                <a href="{% url 'webapp:file_detail' file.pk %}">{{ file.name }}</a>
                <div>Автор: {{ file.author }}
                <div>Создано: {{ file.creation_date }}</div>
                <a href="{{ file.file.url }}" class="btn btn-primary">Скачать</a>
                <p>{{ file.type }}</p>
                <hr/>
            {% endif %}
        {% empty %}
            <p>No files yet.</p>
        {% endfor %}

    </div>
{% endblock %}